@if (loading()) {
  <app-loading-spinner [pleinePage]="true" message="Chargement de la fiche véhicule…" />
} @else if (vehicule(); as v) {

  <div class="page">

    <div class="page__entete">
      <div>
        <h2 class="page__titre mono">{{ v.immatriculationFictive }}</h2>
        <p class="page__sous-titre">{{ v.marque }} {{ v.modele }} — {{ v.annee }}</p>
      </div>

      <div class="page__actions">
        <a class="btn btn--ghost" routerLink="/vehicules">Retour</a>
        <a class="btn btn--ghost" [routerLink]="['/vehicules', v.id, 'modifier']">Modifier</a>
        <a class="btn btn--primary"
           [routerLink]="['/interventions', 'new']"
           [queryParams]="{ vehiculeId: v.id }">
          Nouvelle intervention
        </a>
      </div>
    </div>

    <div class="grille grille--2">

      <section class="carte">
        <h3 class="carte__titre">Véhicule</h3>
        <dl class="def">
          <dt>ImmatriculationFictive</dt><dd class="mono">{{ v.immatriculationFictive }}</dd>
          <dt>Marque et modèle</dt><dd class="mono">{{ v.marque }} {{ v.modele }}</dd>
          <dt>Année</dt><dd class="mono">{{ v.annee }}</dd>
          <dt>Kilométrage</dt><dd class="mono">{{ v.kilometrage | number }} km</dd>
          <dt>Client fictif</dt><dd class="mono">{{ v.clientFictif}}</dd>
        </dl>
      </section>
    </div>

    <section class="carte">
      <h3 class="carte__titre">Historique atelier</h3>

      @if (interventions().length === 0) {
        <app-empty-state
          titre="Aucune intervention"
          description="Ce véhicule n'est jamais passé à l'atelier." />
      } @else {
            <app-paginated-table
      [colonnes]="columns"
      [lignes]="interventions()"
      [totalElements]="interventions().length"
      [ligneTemplate]="ligne"
      messageVide="Aucune intervention trouvée"
    />

    <ng-template #ligne let-i>
     <td class="mono">
      <a class="lien" [routerLink]="['/interventions', i.id]">{{  i.id }}</a>
    </td>
      <td>{{ i.typeIntervention }}</td>
      <td><app-status-tag [value]="i.statut" /></td>
      <td>{{ i.priorite }}</td>
      <td>{{ i.nomMecanicien || '—' }}</td>
      <td class="muted" >{{ i.dateDepot | date: 'dd/MM/yyyy' }}</td>
      <td style="text-align: right; padding-right: 16px">{{ i.coutEstime ?? '—' }} MAD</td>
    </ng-template>
      }
    </section>
  </div>
}