<div class="page">

  <div class="page__entete">
    <div>
      <h2 class="page__titre">{{ formTitle() }}</h2>
      <p class="page__sous-titre">{{ formSubtitle() }}</p>
    </div>
  </div>

  <div class="carte">
    @if (errorMessage()) {
      <p class="field__error" style="margin-bottom:12px">{{ errorMessage() }}</p>
    }

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

<div class="field">

  <label for="vehiculeId">Véhicule *</label>



<select id="vehiculeId" formControlName="vehiculeId">
  @for (vehicule of vehicules(); track vehicule.id) {
  <option [value]="vehicule.id">
    {{ vehicule.immatriculationFictive }}
    -
    {{ vehicule.marque }}
    {{ vehicule.modele }}
  </option>
  }
</select>

</div>

      <div class="field">
        <label for="typeIntervention">Type d'intervention *</label>
        <select id="typeIntervention" formControlName="typeIntervention">
          @for (type of interventionTypes; track type) {
            <option [value]="type">{{ type }}</option>
          }
        </select>
      </div>

      <div class="field">
        <label for="priorite">Priorité *</label>
        <select id="priorite" formControlName="priorite">
          @for (priority of priorities; track priority) {
            <option [value]="priority">{{ priority }}</option>
          }
        </select>
      </div>

      <!---<div class="field">
        <label for="dateDepot">Date de dépôt *</label>
        <input id="dateDepot" type="date" formControlName="dateDepot" />
      </div>-->

     <!-----<div class="field">
        <label for="dateRestitutionPrevue">Restitution prévue *</label>
        <input id="dateRestitutionPrevue" type="date" formControlName="dateRestitutionPrevue"
               [min]="form.controls.dateDepot.value" />
      </div>-->

      <div class="field form__pleine-largeur">
        <label for="descriptionClient">Description client *</label>
        <textarea id="descriptionClient" formControlName="descriptionClient"
                  [class.is-invalid]="form.controls.descriptionClient.invalid && form.controls.descriptionClient.touched"></textarea>
        @if (form.controls.descriptionClient.invalid && form.controls.descriptionClient.touched) {
          <span class="field__error">Description obligatoire (10 caractères minimum).</span>
        }
      </div>

      <div class="form__actions">
        <button type="button" class="btn btn--ghost" (click)="cancel()">Annuler</button>
        <button type="submit" class="btn btn--primary" [disabled]="!canSubmit()">
          {{ submitLabel() }}
        </button>
      </div>

    </form>
  </div>

</div>
